# IDE Files
.vs/*
.vscode/*
.idea/*

# Emuera Project Files
Emuera/artifacts/*
Emuera/Emuera.csproj.user
Emuera/Properties/PublishProfiles/*.pubxml.user
Emuera/bin/*

# Emuera Plugin Example Files
EmueraPluginExample/obj/*
EmueraPluginExample/bin/*

# Diffs and patches
*.diff
*.patch
